*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 60vw;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}