/**************************************** HEADER ****************************************/
nav {
    background: linear-gradient(90deg, rgb(0, 0, 0) -7%, rgb(120, 221, 166) 105%);
    box-shadow: rgba(30, 192, 118, 0.4) 0px 30px 60px -30px, rgba(30, 192, 118, 0.45) 0px -2px 6px 0px inset;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    font-weight: bold;
    color: #60cbb5;
}

#desplegable{
    color: #1ec076;
    border-color: #60cbb5;
    margin: 0px;
}

#logo {
    height: 50px;
}

@media (max-width: 991px) {
    #logo {
      height: 42px;
    }
}

#boton-acceder, #boton-cerrar-sesion {
    background-color: transparent;
    color: white;
    border-radius: 0.4vw;
    text-decoration: none;
    margin: 0px;
    border: 2px solid transparent;
    box-shadow: rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#boton-acceder:hover, #boton-cerrar-sesion:hover {
    font-weight: bold;
    border: 2px solid #60cbb5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#boton-acceder:focus, #boton-cerrar-sesion:focus {
    outline: none;
}
/******************************************************************************************/