body {
    height: 100%;
}

/* Estilos Header ---------------------------------------*/
header {
    height: 10%;
}

/* Estilos Main---------------------------------------*/
main {
    height: 80%;
}

video {
    width: 50vw;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/* Estilos Footer ---------------------------------------*/
footer {
    height: 10%;
}


img {
    width: 200px;
}