/**************************************** GENERAL ****************************************/
body {
    height: 100vh;
}
/*****************************************************************************************/

/**************************************** CONTENT ****************************************/
#main {
    height: 85%;
}

#titulo {
    font-size: 4.5vw;
    color: #60cbb5;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    text-shadow: 0px 2px 1px black;
}

iframe {
    width: 90%;
    height: 100%;
}

#video-container {
    height: 100%;
    margin-bottom: 2vw;
}

/*****************************************************************************************/