<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/general.css">
    <title>Document</title>
</head>
<body>
    <div id="titulo"><h1>Genshin Calculator</h1></div>
    <div id="user"><p>User</p></div>
    <div id="buttons"><button>Calculadora</button><button>Personajes</button><button>Armas</button><button>Artefactos</button></div>
</body>
</html>